// This is the default file used by the application if you don't pass
// in your own zellij layout.
layout {
  tab {
    pane split_direction="horizontal" {
      pane split_direction="vertical" {
        pane size="70%" { }

        pane command="opencode" close_on_exit=true
	  }

      pane size="20%" { }
    }
	pane size=1 borderless=true {
		plugin location="zellij:compact-bar"
	}
  }
}
